/*Universal selector*/
*{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
}

/*Element selector*/
h1{
    color:darkred;
}
h3{
    color:mediumvioletred
}

button{
    color:black;
    background-color: lightgreen;
}
a{
    color:brown;
}

/*id selector*/
#us,#pw{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: pink;
}
#search{
    color:white;
    background-color: black;
}
/*class selector*/
.a{
    font-weight: bold;
}
.credential{
    background-color:aqua;
    color:black;
}
.b{
    background-color: bisque;
    color:black;
    font-weight: bold;
}
/*descendant selector: from parent to child*/ 
p a{
    color:beige;
    background-color:brown;
}
 ul li{
    color:green;
}
/*adjacent sibling comparator : equal level*/
p+h3{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*child combinator: direct parent-child*/
div>hr{
    height: 4px;
    background-color: black;
    border: none;
    margin-top: 10px;
}
/*attribute discriminator: name value pair*/
input[type=text]{
    text-transform: lowercase;
}

/*Psuedo class: keyword added to the selector that specifies a special state of selected elements
a) hover - while scrolling
b) active - while clicking
c)checked - while clicking the button
d) nth of type - applying only on odd button or even button
*/
button:hover{
    background-color: pink;
    color:black;
}
button:active{
    background-color: coral;
    color:black;
}
input[type="radio"]:checked+label{
    color:darkgreen;
    font-weight: bold;

}
.a:nth-of-type(2){
    background-color:palevioletred;
}
/*even no of elements*/
.a:nth-of-type(2n){
    font-style: italic;

}
/*psuedo element: applies only on the specific part on the selected ele*/
h1::first-letter{
    font-style:italic;
}
h3::first-line{
    font-style: italic;
}
p::selection{
    background-color: yellow;
}
/*specificity: algo that calculates weight for the applied css declaration
input and button by default wont inherit the properties
so to inherit use like
input{
background-color:inherit;
}
*/




