
/*h1{
    color:darkcyan;
    background-color: orange;
}
p{
    color:chocolate;
    background-color: darkgrey;
}
button{
    color:rgb(150, 223, 23);
}


h2{
    color:orange;
}
p{
    color:white;
    background:black;
}
button{
    color:white;
    background:blue;
}
*/

/* text property
h1{
    text-align: center;
    text-decoration: wavy blue underline;
    letter-spacing: 5px;
    font-family:Calibri;
}
h2{
    text-align:start;
    font-weight: 800;
    text-decoration: double darkturquoise overline;
}
h3{
    text-align: end;
    text-decoration: cornflowerblue line-through;
}
p{
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
}
a{
    text-decoration: none teal;
}
*/

h1{
    color:white;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    background-color: black;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: double underline teal;
    text-transform: uppercase;

}