<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to home page!</title>
</head>
<body>
    <h3>The dice value rolled is <%= num %></h3>
    <% if (num==6){ %>
        <h4>Super!full sweep!Try again</h4>
    <% } %>
    <% if (num==1){ %>
        <h4>Hurray!You can start the game!</h4>
    <% } %>
    
</body>
</html>