.totaltab{
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-bottom: 10px;
}
.amazoncard{
    
    height: 200px;
    width: 300px;
    border:5px solid black;
    justify-content: space-evenly;
    background-color: palegreen;
    border-radius: 10px;
}
.price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: yellow;
}
.old{
    text-decoration: line-through;
}

.final{
    width: 90vw;
    border: 5px solid black;
    padding:15px;
    border-radius: 10px;
}