.blue{
    background-color:skyblue;
    color:black;

}
.green{
    background-color:lightgreen;
    color:black;

}
.yellow{
    background-color:yellow;
    color:black;

}
.red{
    background-color:lightcoral;
    color:black;

}