.navbar{
    display: flex;
    background-color: rgba(255, 255, 255, 0.826);
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;  
    z-index: 1000;                
}

.nav-left {
    display: flex;
    gap: 15px;
}

.nav-right {
    display: flex;
    gap: 10px;
    margin-left: auto; 
}

.navbar a,h3{
    padding-right: 100px;
    color:black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar i{
    color: red;
}

.container a{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(95, 96, 160);
}

.container button{
    background-color: black;
    color: white;
}

.fclasslinks a{
    text-decoration: none;
    color:white;
    padding-right: 20px;
}
.fclasslinks a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

.finfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8rem;
    background-color: grey;
    opacity: 0.5;
    flex-wrap: wrap;
    text-align: center;
}
.fclasssocials {
    width: 100%;
    font-size: 20px;
}
.fclasslinks{
    width: 100%;
}
.fclasssocials i{
    color: white;
    margin-right: 10px;
    padding-right: 20px;
}
.fclassmain {
    color: white;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
}
.indcard img{
    height: 150px;
    width: 100% ;
    padding-right: 70px;
    
}
.indcard{
    border:2px solid white;
    height: 350px;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.indcard:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: scale(1.1);
}
.success{
    height: 50px;
    width: 600px;
    color: black;
    background-color: aquamarine;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
}
.indreview{
    border:2px solid white;
    height: 200px;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    background-color: seashell;
}

.indreview button{
    margin-left: 40px;
    padding-left:5px;
}

.delete{
    height: 50px;
    width: 600px;
    color: black;
    background-color: aquamarine;
}
.update{
    height: 50px;
    width: 600px;
    color: black;
    background-color: aquamarine;
}

.error{
    height: 50px;
    width: 600px;
    color: black;
    background-color: palevioletred;
}
.indfilters{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
.icons{
    text-align: center;
    align-items: center;
    opacity: 0.7;
    margin-top: 10px;
    padding-left: 70px;

}
.icons:hover{
    opacity: 1;
}
.icons p{
    font-size: 15px;
}

.tax-info{
    display: none;
}
.taxtoggle{
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.120);
    background-color: rgb(255, 245, 238);
    padding: 10px;
    height: 10px;
    text-align: center;

}
.nav-left button{
    background-color: white;
    color: rgba(255, 0, 0, 0.599);
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(255, 245, 238);

}