<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit ur chat</title>
</head>
<body>
     <form method="post" action="/chats/<%=input._id %>?_method=PATCH">
     <textarea name="message" placeholder="enter ur new message"></textarea>
     <br><br>
     <button>Submit</button>
     </form>
</body>
</html>