<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Form</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Username" name="username">
        <br>
        <br>
        <textarea placeholder="Write ur post" name="newpost"> </textarea>
        <br>
        <button>Submit here!</button>
    </form>
    
</body>
</html>