<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details related to specific id</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora post for <%=newpost.username%></h1>
    <div class="posts">
        <h3 class="user"> @<%=newpost.username%></h3>
        <h4 class="content"><%=newpost.content%></h4>
    </div>
</body>
</html>