<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to home page!</title>
</head>
<body>
    <h1>The total number of users are <%=usercount%></h1>
    <button><a href="http://localhost:8080/posts/new">Join us today</a></button>
</body>
</html>