h1,h2{
    text-align: center;
}

.outerbox{
    display: flex;
    justify-content:center;
}
.key{
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border:10px solid black;
    margin-bottom: 10px;
    margin-left: 30px;
    
}
#pink{
    background-color:palevioletred;
}
#orange{
    background-color: orange;
}
#cadetblue{
    background-color: cadetblue;
}
#blue{
    background-color: lightskyblue;
}
.clicked{
    background-color: white  !important;;
}
.userclicked{
    background-color: darkorchid  !important;;
}