<% layout("/layouts/boilerplate") -%>
<body>
    <h1>Login to your account</h1>
    <form action="/login" method="POST">
            <input type="text" placeholder="Username" name="username" required>
            <br><br>
            <input type="password" placeholder="Password" name="password" required>
            <br><br>
            <button>Login </button>

    </form>
</body>