<% layout("/layouts/boilerplate") -%>
<body>
    <form method="POST" action="/listings">
        <h1>Create a new list</h1>
        <p><b>Title</b></p>
        <textarea name="listing[title]" placeholder="enter the title" rows="2" cols="40" required></textarea>
        <br><br>
        <p><b>Description</b></p>
        <textarea placeholder="enter desc" name="listing[desc]" rows="2" cols="100" required></textarea>
        <br><br>
        <p><b>Location</b></p>
        <input type="string" placeholder="location" name="listing[location]"required>
        <br><br>
        <p><b>Price</b></p>
        <input type="number" placeholder="enter the price" name="listing[price]" required>
        <br><br>
        <p><b>Image url</b></p>
        <input  type="string" placeholder="enter image url" name="listing[image][url]" required>
        <br><br>
        <p><b>Image name</b></p>
        <input type="string" placeholder="enter image name" name="listing[image][filename]" required>
        <br><br>
         <button>Submit</button>
    </form>
</body>
