<footer>
    <br>
    <div class="finfo">
        <div class="fclasssocials">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
  <a href="https://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>
        </div>

        <div class="fclassmain">Wanderlust Private Limited</div>

        <div class="fclasslinks">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms and Conditions</a>
        </div>
    </div>
</footer>